.reveal {
    font-family: Verdana, sans-serif !important;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4 {
    font-family: Verdana, sans-serif;
}

.reveal .slide-pictures-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.reveal .slide-picture {
    margin-left: 5px;
    margin-right: 5px;
    max-height: 80%;
}

.reveal .slide-picture img {
    border: none;
}

.reveal .slide-picture-no-shadow img {
    border: none;
    box-shadow: none;
}

.reveal .slide-pictures-container.few img {
    max-height: 500px;
}

.reveal .slide-pictures-container.more img {
    max-height: 480px;
}

.reveal .slide-pictures-container.less img {
    max-height: 380px;
}

.reveal .slide-pictures-container.many img {
    max-height: 300px;
}

.reveal .slide-pictures-container.inbetween img {
    max-height: 240px;
}

.reveal .slide-pictures-container.stillmany img {
    max-height: 230px;
}

.reveal .slide-pictures-container.inbetween2 img {
    max-height: 215px;
}

.reveal .slide-pictures-container.manymany img {
    max-height: 200px;
}

.reveal .slide-pictures-container.most img {
    max-height: 170px;
}

.reveal .slide-pictures-container.mostmost img {
    max-height: 150px;
}

.reveal .slide-icon {
    margin: auto;
    font-size: 160px;
    color: #efdcbc;
}

.reveal .image-caption {
    font-size: small;
    text-align: center;
    margin-right: 1em;
}

.reveal section .slide-pic {
    border: none;
}

.reveal .no-bullets {
    list-style-type: none;
}

.reveal .talk-wide {
    margin: 0;
}

.reveal .current-fragment.highlight-letter {
    color: #23759b;
}

.reveal .highlight-red {
    color: #dc3545;
}

.reveal .friendly-urls {
    list-style-type: none;
    font-size: 0.8em;
}

.reveal .friendly-urls li {
    margin-bottom: 15px;
}

.reveal .code-block {
    margin: 0;
    box-shadow: none;
}

.reveal .disappear {
    display: none;
}

.reveal .predefined {
    border: solid red 2px;
}

.reveal .jinja-logo {
    margin-left: -24em;
    margin-top: -3em;
    height: 3em;
    border: none;
    box-shadow: none;
}

.reveal .jinja-logo-big {
    height: 4em;
    border: none;
    box-shadow: none;
}

.reveal .listing {
    font-size: 0.9em;
}

.reveal pre {
    box-shadow: none;
    min-width: 50em;
}

.reveal .mark1 {
    background-color: #90f190;
}

.reveal .mark2 {
    background-color: #b3d1ff;
}

.reveal .mark3 {
    background-color: #efb966;
}

.reveal img.diagram {
    border: 4px solid #BBB;
}

.reveal img.transparent {
    background: None;
    box-shadow: None;
}

.reveal .picture-middle {
    margin-top: 2em;
}

.reveal .fa-icon {
    font-size: 1.5em;
    color: #EEE;
}

.reveal .multiple-vertical {
    display: flex;
    flex-direction: column;
}

.reveal .caption {
    font-size: 0.8em;
    color: #EEE;
}

.reveal section .slide-logo {
    height: 3em;
    background: None;
    border: None;
    box-shadow: None;
    float: right;
    margin-top: -2em;
}

.reveal {
    background-image: url('img/msg/doneyet.jpg');
    background-repeat: no-repeat;
}

.reveal .hidden {
    visibility: hidden;
}

.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

#mvc {
    padding-bottom: 2em;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 11em;
}

.icon-green {
    color: green;
}

.icon-red {
    color: red;
}

.reveal .django-background {
    background-image: url("img/django/opensource.png");
}

section ul li {
    font-size: 0.8em !important;
}

.right-corner {
    margin-right: -15em !important;
    margin-top: -5em !important;
    right: 0px;
    max-width: 8em !important;
}

.two-col-ul {
    max-width: 79% !important;
}